<!DOCTYPE html>
<html th:replace="~{layout :: layout}" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Приказ о временном выбытии #[[${dislocation.id}]]</title>
    <style>
        @media print {
            .btn, .navbar, .modal, .no-print { display: none !important; }
            .card { border: none !important; box-shadow: none !important; }
            .container-fluid { margin: 0 !important; padding: 0 !important; }
        }
    </style>
</head>
<body>
<div th:fragment="content">
    <div class="d-flex justify-content-between mb-4">
        <h2>Приказ о временном выбытии</h2>
        <div>
            <a href="/dislocations" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> К списку
            </a>
            <a th:href="@{/dislocations/{id}/download(id=${dislocation.id})}" class="btn btn-outline-info">
                <i class="bi bi-printer"></i> Печать
            </a>
            <a th:href="@{/dislocations/{id}/edit(id=${dislocation.id})}" class="btn btn-primary">
                <i class="bi bi-pencil"></i> Редактировать
            </a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-trash"></i> Удалить
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-light">Данные приказа</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Номер приказа</dt>
                        <dd class="col-sm-8">[[${dislocation.documentNumber}]]</dd>
                        <dt class="col-sm-4">Дата приказа</dt>
                        <dd class="col-sm-8">[[${#temporals.format(dislocation.documentDate, 'dd.MM.yyyy HH:mm')}]]</dd>
                        <dt class="col-sm-4">Основание</dt>
                        <dd class="col-sm-8">[[${dislocation.basis}]]</dd>
                        <dt class="col-sm-4">Дата начала выбытия</dt>
                        <dd class="col-sm-8">[[${#temporals.format(dislocation.effectiveStartDate, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Дата окончания выбытия</dt>
                        <dd class="col-sm-8">[[${#temporals.format(dislocation.effectiveEndDate, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Создатель</dt>
                        <dd class="col-sm-8">[[${dislocation.creatorFullName}]]</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-light">Данные ученика</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">ФИО</dt>
                        <dd class="col-sm-8">[[${dislocation.studentFullName}]]</dd>
                        <dt class="col-sm-4">Дата рождения</dt>
                        <dd class="col-sm-8">[[${#temporals.format(dislocation.studentDateOfBirth, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Класс</dt>
                        <dd class="col-sm-8">[[${dislocation.studentClassName}]]</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal удаления -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5>Подтверждение</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
                <div class="modal-body">Удалить приказ о временном выбытии № [[${dislocation.documentNumber}]]?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form th:action="@{/dislocations/{id}/delete(id=${dislocation.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>