<!DOCTYPE html>
<html th:replace="~{layout :: layout}" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Справка об обучении #[[${certificate.id}]]</title>
    <style>
        @media print {
            .btn, .navbar, .modal, .no-print { display: none !important; }
            .card { border: none !important; box-shadow: none !important; }
            .container-fluid { margin: 0 !important; padding: 0 !important; }
        }
    </style>
</head>
<body>
<div th:fragment="content">
    <div class="d-flex justify-content-between mb-4">
        <h2>Справка об обучении</h2>
        <div>
            <a href="/certificates" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> К списку
            </a>
            <a th:href="@{/certificates/{id}/download(id=${certificate.id})}" class="btn btn-outline-info">
                <i class="bi bi-printer"></i> Печать
            </a>
            <a th:href="@{/certificates/{id}/edit(id=${certificate.id})}" class="btn btn-primary">
                <i class="bi bi-pencil"></i> Редактировать
            </a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-trash"></i> Удалить
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Номер справки</dt>
                <dd class="col-sm-9">[[${certificate.documentNumber}]]</dd>
                <dt class="col-sm-3">Дата справки</dt>
                <dd class="col-sm-9">[[${#temporals.format(certificate.documentDate, 'dd.MM.yyyy HH:mm')}]]</dd>
                <dt class="col-sm-3">Ученик</dt>
                <dd class="col-sm-9">[[${certificate.studentFullName}]]</dd>
                <dt class="col-sm-3">Дата рождения ученика</dt>
                <dd class="col-sm-9">[[${#temporals.format(certificate.studentDateOfBirth, 'dd.MM.yyyy')}]]</dd>
                <dt class="col-sm-3">Класс</dt>
                <dd class="col-sm-9">[[${certificate.studentClassName}]]</dd>
                <dt class="col-sm-3">Учебный год</dt>
                <dd class="col-sm-9">[[${certificate.academicYear}]]</dd>
                <dt class="col-sm-3">Создатель</dt>
                <dd class="col-sm-9">[[${certificate.creatorFullName}]]</dd>
            </dl>
        </div>
    </div>

    <!-- Modal удаления -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5>Подтверждение</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
                <div class="modal-body">Удалить справку № [[${certificate.documentNumber}]]?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form th:action="@{/certificates/{id}/delete(id=${certificate.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>