<!DOCTYPE html>
<html th:replace="~{layout :: layout}" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Приказ об отчислении #[[${release.id}]]</title>
</head>
<body>
<div th:fragment="content">
    <div class="d-flex justify-content-between mb-4">
        <h2>Приказ об отчислении</h2>
        <div>
            <a href="/releases" class="btn btn-outline-secondary">← К списку</a>
            <a th:href="@{/releases/{id}/edit(id=${release.id})}" class="btn btn-primary">Редактировать</a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-light">Данные приказа</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Номер приказа</dt>
                        <dd class="col-sm-8">[[${release.documentNumber}]]</dd>
                        <dt class="col-sm-4">Дата приказа</dt>
                        <dd class="col-sm-8">[[${#temporals.format(release.documentDate, 'dd.MM.yyyy HH:mm')}]]</dd>
                        <dt class="col-sm-4">Основание</dt>
                        <dd class="col-sm-8">[[${release.basis}]]</dd>
                        <dt class="col-sm-4">Дата документа-основания</dt>
                        <dd class="col-sm-8">[[${#temporals.format(release.basisDocumentDate, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Дата начала действия</dt>
                        <dd class="col-sm-8">[[${#temporals.format(release.dateFrom, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Дата отчисления</dt>
                        <dd class="col-sm-8">[[${#temporals.format(release.dateOn, 'dd.MM.yyyy')}]]</dd>
                        <dt class="col-sm-4">Создатель</dt>
                        <dd class="col-sm-8">[[${release.creatorFullName}]]</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-light">Данные ученика</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">ФИО</dt>
                        <dd class="col-sm-8">[[${release.studentFullName}]]</dd>
                        <dt class="col-sm-4">Класс</dt>
                        <dd class="col-sm-8">[[${release.studentClassName}]]</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5>Подтверждение</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
                <div class="modal-body">Удалить приказ № [[${release.documentNumber}]]?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form th:action="@{/releases/{id}/delete(id=${release.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>